EXPO_PUBLIC_API_BASE_URL=http://192.168.18.241:3000
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=530411197089-gn940jt7v372194hodrmhekld67b1tdt.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=530411197089-2b97span4r5tslg3delukgphgof3i3om.apps.googleusercontent.com
